<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Signal Response</title>
</head>
<body>
<h1>Signal Response</h1>
<p><strong>Encoded Signal:</strong> <span th:text="${signalResponse.encodedSignal}"></span></p>
<p><strong>Noisy Signal:</strong> <span th:text="${signalResponse.noisySignal}"></span></p>
<p><strong>Encoded Text:</strong> <span th:text="${signalResponse.encodedText}"></span></p>
<p><strong>Decoded Text:</strong> <span th:text="${signalResponse.decodedText}"></span></p>

<img th:src="'data:image/png;base64,' + ${noisyChartBase64}" alt="Noisy signal Graph"/>
<img th:src="'data:image/png;base64,' + ${encodedChartBase64}" alt="Encoded signal Graph"/>

<br><br><br>
<a href="/">Back</a>
</body>
</html>
-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Signal Response</title>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>
<h1>Signal Response</h1>
<p><strong>Encoded Signal:</strong> <span th:text="${signalResponse.encodedSignal}"></span></p>
<p><strong>Noisy Signal:</strong> <span th:text="${signalResponse.noisySignal}"></span></p>
<p><strong>Encoded Text:</strong> <span th:text="${signalResponse.encodedText}"></span></p>
<p><strong>Decoded Text:</strong> <span th:text="${signalResponse.decodedText}"></span></p>

<div id="noisyChart" style="width: 800px; height: 400px;"></div>
<div id="encodedChart" style="width: 800px; height: 400px;"></div>

<script th:inline="javascript">
  /*<![CDATA[*/
  const noisyData = [{
    x: /*[[${noisyX}]]*/ [],
    y: /*[[${noisyY}]]*/ [],
    type: 'scatter',
    mode: 'lines',
    name: 'Noisy Signal'
  }];

  const encodedData = [{
    x: /*[[${encodedX}]]*/ [],
    y: /*[[${encodedY}]]*/ [],
    type: 'scatter',
    mode: 'lines',
    name: 'Encoded Signal'
  }];

  const layoutOptions = {
    showlegend: false,
    hovermode: 'closest',
    margin: {t: 30},
    xaxis: {title: 'Time (s)', showgrid: false},
    yaxis: {title: 'Amplitude', showgrid: false}
  };

  Plotly.newPlot('noisyChart', noisyData, {...layoutOptions, title: 'Noisy Signal'});
  Plotly.newPlot('encodedChart', encodedData, {...layoutOptions, title: 'Encoded Signal'});
  /*]]>*/
</script>

<br><br><br>
<a href="/">Back</a>
</body>
</html>

